.home-background {
  padding: 10px;
}

.tab-container {
  overflow-y: auto;
  box-shadow: 0px 10px 10px -15px #111;
}

.spinner-container {
  height: 100vh;
  display: flex;
  place-items: center;
}

.spinner-border {
}

.dishes-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 25px;
  gap: 10px;
}

.tab-menu-container {
  display: flex;
  overflow-x: auto;
}

.tab-category-button {
  color: inherit;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 768px) {
  .tab-menu-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 80%;
    gap: 20%;
  }

  .tab-category-button {
    flex: 0 0 50%;
    text-align: center;
  }
}

.active-tab-item {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
  font-weight: 600;
}
.each-tab-item {
  list-style-type: none;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 15px 0px;
  text-align: center;
}
