.cart-icon {
}

.cart-count-badge {
  position: absolute;
  top: -15px;
  right: -5px;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px -15px #111;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .logo-heading {
    font-size: 25px;
  }
}

.my-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}

.my-order-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #585555;
  margin-top: 10px;
}
